.login-container {
    text-align: center;
    width: 300px;
}

.caixa {
    background-image: url("../assets/images/stars.jpg");
    border-radius: 10px;
    color: white;
}

body {
    background-image: url("../assets/images/stars.jpg");
}
